:root{
 --primary-color: rgb(193, 34, 34);
 --secondary-color: #e79292;
 --auxilliary-color: #fff;
 --padding-horizontal: 100px;
 --card-background: #FFEFF2;
}
html,body{
    margin: 0%;
    font-family:"Poppins", sans-serif;
}
nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 100px 10px 100px;
}
nav>div>a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
nav>div>h1{
    color: #fff;
}
.logo{
    display: flex;
}
#homesection>div{
    margin: 100px;
}
#homesection{
    display: flex;
    align-items: center;
    height: 60vh;
    padding-left: var(--padding-horizontal);
    padding-right: var(--auxilliary-color);
}
#homesection> img{
    aspect-ratio: 1/1;
    width: 320px;
    height: 320px;
    border-radius: 50%;
}
#homesection>div>h1{
    font-size: 51px;
    margin: 0;
    color: var(--primary-color);

}
#homesection>div>p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 300;
}
#homesection>div>button{
    all:unset;
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
}
#homesection>div>button:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}
#projectsection>div>h1{
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}
#projectsection>div>p{
    color: var(--secondary-color);
    font-weight: 300;
    text-align: center;
    margin: 0;
}
#projectsection>div>.card{
    background-color: var(--card-background);
    width: 311px;
    height: auto;
    border-radius: 30px;
    padding: 14px 12px 12px 12px;
    margin: 12px;
}
#projectsection>div>.card>button{
    all: unset;
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-radius: 50px;
    width: 80%;
    transition: 1s;
}
#projectsection>div>.card>button:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}
#projectsection>div>.card>img{
    width: 100%;
    height: 153px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 30px;
}
#projectsection>div>.card>h3{
    font-size: 20px;
    color:#4C243B;
}
#projectsection>.projects{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}
#contactsection{
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    height: 60vh;
}
#contactsection>form{
    padding: 24px;
    background-color: var(--card-background);
    border-radius: 30px;width: 60vw;
    margin: auto;
}
#contactsection>form>h1{
    color: var(--primary-color);
    text-align: center;
    font-size: 41px;

}
#contactsection>form>div{
    margin-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
}
#contactsection>form>div>label{
    font-weight: 500;
    margin-right: 20px;
    color: var(--secondary-color);
}
#contactsection>form>div>input{
    all: unset;
    border-radius: 12px;
    background-color: var(--auxilliary-color);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: #4C243B;
    width: 52vw;
    
}